<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SASlideDrawer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SASlideDrawerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F81DE9521AE580A7008575B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F81DE95D1AE580A7008575B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F81DE9761AE584E6008575B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F81DE98A1AE584E6008575B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
